body {
    background-color: #E6F6F6;
}

h1 {
    color: #66BFBF;
}

hr {
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    color: #F8F988;
    width: 5%;
}

#heading{
    color: black;
}